#about-container{

}

#team-wrapper{
	background-color: #1C658A;
}

#team-container > .row > .col-md-4 > h2{
	font-family: 'Maven Pro', sans-serif; 
	font-weight: 400 
}
#team-container{
	color: white;
	text-align: center;
}

#slogan{
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
}

#masthead{
	/*
	background-color: #122f7f;
	min-height: 500px;
	position: relative;
	text-align: left;
	padding-top: 100px;
*/
    background-color: rgba(0,0,0,0.1);
	background: url("../img/lumos-img.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:70vh;

}
input.btn-primary {
  margin-top: 15px;
}

#masthead > .container{
	color: white;
}

#transparent{
	background:#7f7f7f;
	background-color: rgba(0,0,0,0.72);
}

#transparent-main{
	background:#7f7f7f;
	background-color: rgba(0,0,0,0.6);
	padding: 20px;
	margin-top: 50px;
}

#about-heading > h1{
	text-align: center;
}

#about-info{
	text-align: center;
}

#about-info > .col-md-4 > h2{
	font-family: 'Maven Pro', sans-serif; 
	font-weight: 500 
}
.footer{
	background-color: #333;
	
}

#team-featurette{
	margin-top: 5px;
}

h1{
	font-family: 'Maven Pro', sans-serif;
	font-weight: 600;
}

#blog{
	font-family: 'Maven Pro', sans-serif;
	color: white;
	font-weight: bold;
	padding-right: 10px;
}

#blog > a{
	color: white;
}

/* Still need to fix the hover over color*/
#blog :active {
	background-color: black;
}

#newsletter{
	background-color: #555;
	color: white;
}
#newsletter > h1 {
	font-family: 'Maven Pro', sans-serif; 
	font-weight: 400 
}

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css);

#peter{
	padding-top: 20px;
}
