#team-container{
    background:#7f7f7f;
	background-color: rgba(0,0,0,0.77);
	padding: 20px;
	margin-top: 50px;
    margin-bottom: 50px;
}

#names{
	font-family: 'Maven Pro', sans-serif; 
	font-weight: 300;
	font-size: 18px;
}

#long-name{
	font-family: 'Maven Pro', sans-serif; 
	font-weight: 300;
	font-size: 15px;
    padding-top: 2px;
}

#team-container > .row > .col-md-2 > h5{
	font-family: 'Maven Pro', sans-serif; 
	font-weight: 200;
}

#team-container{
	color: white;
	text-align: center;
}

#slogan{
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
}

#masthead{
    /*
    background-color: rgba(0,0,0,0.1);
	background: url("../img/lumos-img.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	*/


    min-height: 100vh;
	background: #1D976C; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #1D976C , #80EDA9); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #1D976C , #80EDA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#vcenter {
    padding-top: 5em;
}

.dotted {
  padding: 15em 15em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 3px, transparent 3px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,10) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,10) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 10px 10px;
  -moz-background-size: 3px 3px;
  background-size: 15px 15px;
  }

#masthead-blog{
  background: -webkit-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* W3C */
  min-height: 50vh;

}

#masthead-contact{
  background: -webkit-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* W3C */
        min-height: 40vh;
}

#masthead-science{
    background-color: rgba(0,0,0,0.1);
	background: url("../img/science.jpg") no-repeat center center fixed; 
    background-repeat: no-repeat; 
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 60vh;
}

#blog-title{
	font-size: 72px;
}

#contact-title{
	font-size: 72px;
	color: white;
}
#masthead-blog > .container{
	color: white;

}

input.btn-primary {
  margin-top: 15px;
}

#masthead > .container{
	color: white;
}

#transparent{
	background:#7f7f7f;
	background-color: rgba(0,0,0,0.72);
}

#transparent-main{
	background:#7f7f7f;
	background-color: rgba(0,0,0,0.6);
	padding: 20px;
	margin-top: 50px;
}

#about-heading > h1{
	text-align: center;
}

#about-info{
	text-align: center;
}

#about-info > .col-md-4 > h2{
	font-family: 'Maven Pro', sans-serif; 
	font-weight: 500 
}
#footer{
	margin-top: 3vh;
	background-color: white;
}

#team-featurette{
	margin-top: 5px;
}

h1{
	font-family: 'Maven Pro', sans-serif;
	font-weight: 600;
}

#blog{
	font-family: 'Maven Pro', sans-serif;
	color: white;
	font-weight: bold;
	padding-right: 10px;
	color: black;
}

#science{
	font-family: 'Maven Pro', sans-serif;
	font-weight: bold;
	padding-right: 10px;
}

#science > a{color:black;}

#home{
	font-family: 'Maven Pro', sans-serif;
	font-weight: bold;
	padding-right: 10px;
}

#blog > a{
	color: white;
}

/* Still need to fix the hover over color*/
#blog  :hover{
	color:black;
}

#newsletter{
 	min-height: 25vh;
 	background-color: #999;
 }

 #mc_embed_signup{
 	background-color: #999;
 }

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css);

#peter{
	padding-top: 20px;
}

#sign-up{
	padding-top: 10vh;	
}

#transparent-newsletter{
	background:#7f7f7f;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	margin-top: 50px;
    margin-bottom: 50px;
}

#newsletter-p{
	font-family: 'Maven Pro', sans-serif;
	font-weight: 300;
	color: #333;
}

#news-heading{
	font-size: 64px;
	color: #333;
}

#packaging{
    padding-top: 35px; 
}

html * {
    font-family: 'Maven Pro';
}

#newsletter{
    background-color: rgba(0,0,0,0.5);
	background: url("../img/stars.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*Plug-in controls*/ 
.IN-widget iframe {left: 180px !important; top: 0px !important; width: 370px !important;}